.jumbotron{
	
	max-width: 500px;
	
}
.form-group{
	max-width: 300px;
	position: relative;
	
}
.form-horizontal{
	margin-left: 50px;
}
.table table-striped{
	max-width: 500px;
}
table{
	margin: auto 50px;
}
tr{
	max-width: 100px;
}
th{
	max-width: 50px;
}

